.maze-2d {
    height: 504px;
    width: 504px;
    border: 2px solid blue;
    position: relative;
}

.marker{
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 100;

}
.column {
    width: 50px;
    display: inline-block;
}

.node {
    background-color: lightgray;
    border: 2px solid lighten(lightgray, 20%);
    height: 50px;
    width: 50px;
    display:flex;
    position: relative;
    &.east-wall {
        border-right: 2px solid black;
    }
    &.north-wall {
        border-top: 2px solid black;
    }
}

.open-floor {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
}

.open-ceiling {

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
