@import "variables.less";
.maze-2d {
    position: relative;
    background-color:blue
}

.maze-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.marker{
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.overlay-wrapper {
    position: absolute;
    z-index: 100;
    background-color: @orange;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 30%;
    text-align: center;
    font-size: 2em;
}

.maze-wrapper {
    background-color: lighten(@brown, 30%);
    &.game-over {
        opacity: 0.5;
    }
}

.column {
    width: 50px;
    display: inline-block;
}

.node {
    background-color: lightgray;
    border: 1px solid lighten(lightgray, 20%);
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    &.east-wall {
        border-right: 4px solid @brown;
    }
    &.north-wall {
        border-top: 4px solid @brown;
    }
    &.goal {
        background-color: @orange;
    }
}
.goal-node {
    position: absolute;
    color: @orange;
    top: 15%;
    left: 15%;
}

.open-ceiling {
    position: absolute;
    top: 0;
    right: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid lighten(@blue, 5%);
}

.open-floor {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.path {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid orange;
}

.level-indicator-wrapper {
    width: 10%;
    text-align: center;
    .level-indicator {
        font-size: 3em;
        &>div{
            position: relative;
            border-top: 2px solid @black;
        }
        .current{
            position: absolute;
            background-color: yellow;
            opacity: 0.6;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            z-index: 50;
            top: 15%;
            left: 10%
        }
        .goal-node {
            z-index:-1;
        }
    }
}
